body{
    background-color: white !important;
}

.jumbotron{
    max-width: 100%;
}

.work-container{
    margin-bottom: 5%;
}

.process{
    width: 80%;
    margin: 0 auto;
}


.process h3{
    font-size: 3rem;
}

.project-overview h2{
    font-size: 3rem;
}

.problem{
    background-color: blanchedalmond;
    padding: 7%;
    margin-bottom: 3%;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 100px;
    left: 50%;
}

#the-problem{
    font-weight: 500;
    color: #010101;
}

#problem-statement{
    font-size: 2.5rem;
    margin-bottom: 3%;
}

.problem-casing{
    margin: 0 auto;
    font-size: 1.90rem;
}


.ux-teardown{
    margin-top: 5%;
}

.copy{
    background-color: blanchedalmond;
    padding: 5%;
}

.bna{
    background-color: black;
    margin: 0 auto;
    width: 100%;
    padding: 5%;
}
.before-n-after{
    margin-right: 5%;
    width: 50%;
    text-align: center;
}

.before-n-after-text{
    color: white;
    font-size: 2rem !important;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 4%;
}

.before-n-after-img{
    max-width: 100%;

}