body{
    background-color: white;
}

#goat-t{
    background-color: #F06666;
}

.image-row{
    background-color: #F0EEEE;
    width: 100vw;
    margin-left: 0vw;
    margin-top: 0;
}

.display-image{
    max-width: 100%;
    width: 60%;
    padding: 5%;
}

.display-image-text{
    font-size: 2.5rem;
}

.project-details{
    background-color: #6DE5FF;
}

.project-overview-details{

 box-shadow: 40px 50px  #6DE5FF;
}

.scrunch{
    padding: 5%;
}