body{
    background-color: white;
}

#goat-t{
    background-color: #F06666;
}

.image-row{
    background-color: #F0EEEE;
    width: 100vw;
    margin-left: 0vw;
    margin-top: 0;
}

.display-image{
    max-width: 100%;
    width: 60%;
    padding: 5%;
}

.display-image-top-text{
    font-size: 2.5rem;
    text-align: center;
    background-color: #25B6D6;
    box-shadow: 0 0 2px 5px #EBEBEB ;
    border-radius: 50%;
    width: 20%;
    height: 10%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    padding: 1%;
}


.display-image-text{
    font-size: 2.5rem;
    font-family: 'Quicksand', sans-serif;
    margin-top: 5%;
}

.project-details{
    background-color: #6DE5FF;
}

.project-overview-details{

 box-shadow: 40px 50px  #6DE5FF;
}

.scrunch{
    padding: 5%;
}
#how{
    font-size: 3.5rem;
    text-align: center;
}
.big-boi{
    font-size: 3.5rem;
}

.link{
    color: rgb(12, 126, 219) !important;
}